
$primary-color: #4285C3;
$secondary-color: #c7d8e8;

$nav-menu-background: #F0F0F0;
$nav-menu-border: #95989A;

$status-card-good: #D1FFDD;
$status-card-warning: #FFFFD1;
$status-card-bad: #FFD1D1;

$error: #DB0000;
$success: green;
$neutral: #999999;
$warning: yellow;

$dark1: #333;
$dark2: #666;